.signupContainer {
  display: flex;
  justify-content: space-between;
  padding: 8rem 0 4rem;
  align-items: center;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;

  .formSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .formWrapper {
      width: 100%;
      max-width: 400px;
      box-sizing: border-box;

      .logo {
        font-size: 2rem;
        font-weight: bold;
        color: #2c3e50;
        margin-bottom: 1rem;

        span {
          color: #50abc7;
        }
      }

      .heading {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: #333;
        line-height: 1.3;
      }

      .subHeading {
        font-size: 1rem;
        color: #555;
        margin-bottom: 1.5rem;
      }

      form {
        .formGroup {
          margin-bottom: 1.5rem;

          .inputWrapper {
            position: relative;

            input,
            select {
              width: 100%;
              padding: 0.75rem 1rem;
              border: 1px solid #ddd;
              border-radius: 8px;
              font-size: 1rem;
              background-color: #f8f9fa;
              transition: all 0.3s ease;

              &:focus {
                border-color: #50abc7;
                outline: none;
              }

              &:focus + label,
              &:not(:placeholder-shown) + label {
                top: -8px;
                left: 12px;
                font-size: 0.75rem;
                color: #50abc7;
              }
            }

            label {
              position: absolute;
              top: 50%;
              left: 1rem;
              transform: translateY(-50%);
              font-size: 1rem;
              color: #666;
              pointer-events: none;
              transition: all 0.3s ease;
            }

            .icon {
              position: absolute;
              top: 50%;
              right: 1rem;
              transform: translateY(-50%);
              color: #aaa;
              cursor: pointer;

              &:hover {
                color: #50abc7;
              }
            }
          }

          .customDropdown {
            position: relative;
          
            .dropdownToggle {
              cursor: pointer;
              background: #f8f9fa;
              padding: 0.75rem 1rem;
              border-radius: 8px;
              border: 1px solid #ddd;
              font-size: 1rem;
              color: #555;
              transition: all 0.3s ease;
          
              &:hover {
                border-color: #50abc7;
              }
            }
          
            .dropdownMenu {
              position: absolute;
              top: 100%;
              left: 0;
              z-index: 10;
              background: #fff;
              border-radius: 8px;
              box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
              padding: 10px 0;
              width: 100%;
              max-height: 200px;
              overflow-y: auto;
          
              li {
                padding: 10px 15px;
                color: #333;
                cursor: pointer;
                transition: all 0.3s ease;
          
                &:hover {
                  background: #f8f9fa;
                }
              }
            }
          }
        }          

        .buttons {
          display: flex;
          justify-content: space-between;

          .button {
            flex: 1;
            padding: 0.8rem 1.2rem;
            font-size: 1rem;
            font-weight: 600;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;

            &:disabled {
              background: #ccc;
              color: #888;
              cursor: not-allowed;
            }
          }

          .primary {
            background: linear-gradient(to right, #2c5d6c, #50abc7);
            color: #fff;
            margin-left: 1rem;

            &:hover:not(:disabled) {
              background: linear-gradient(to right, #255158, #50abc7);
              transform: translateY(-2px);
            }
          }

          .secondary {
            background: #e4e6eb;
            color: #333;

            &:hover:not(:disabled) {
              background: #d6d8db;
              color: #000;
            }
          }
        }
      }
    }
  }

  .imageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    margin: 20px;
    box-sizing: border-box;

    img {
      width: 100%;
      object-fit: cover;
      height: calc(100vh - 100px);
      border-radius: 16px;
    }
  }
}
